@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background: #ECE6D5;
  font-family: Verdana, sans-serif;
}

.App {
  background: #ECE6D5;
  color: #302F4D;
  margin: 20px auto;
  max-width: 600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.page-content {
  margin: 0;
  flex-grow: 1;
  width: 100%;
}

.shadow {
  filter: drop-shadow(5px 5px 0 #302F4D);
}

.tech-stack {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.tech-stack-card {
  background-color: #CEB5A7;
  margin: 10px 0;
  width: 80%;
  padding: 10px;
}

#languages {
  align-self: flex-start;
}

#frameworks-databases {
  align-self: center;
}

#other-skills {
  align-self: flex-end;
}

/* HEADER STYLING */

#header {
  background-color: #CEB5A7;
  /* width: 100%; */
  margin: 0;
  padding: 10px;
}

/* FOOTER STYLING */
#footer {
  background-color: #CEB5A7;
  /* width: 100%; */
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  margin: 10px 0;
}

#projects {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  width: 270px;
  padding: 0 10px;
  background: #CEB5A7;
  text-align: left;
}

.project-description {
  margin-bottom: 40px;
}

.project-links {
  position: fixed;
  bottom: 5px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}