@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background: #ECE6D5;
  color: #302F4D;
  margin: 20px auto;
  max-width: 700px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.25rem;
}

.page-content {
  margin: 10px;
  flex-grow: 1;
}

.shadow {
  filter: drop-shadow(5px 5px 0 black);
}

/* HEADER STYLING */

#header {
  background-color: #CEB5A7;
  width: 100%;
  margin: 0;
  padding: 10px;
}

/* FOOTER STYLING */
#footer {
  background-color: #CEB5A7;
  width: 100%;
  padding: 10px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

#projects {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.project-card {
  width: 280px;
  padding: 0 10px;
  background: #CEB5A7;
  text-align: justify
}

.project-description {
  margin-bottom: 40px;
}

.deploy-link {
  position: fixed;
  bottom: 10px
}